.artistsection {
    min-height: 10vw;
    background-color: #2a2a2a;
    background-size: cover;
    width: 80%;
    margin: auto;
    margin-bottom: 2vw;
    display: flex;
    border-radius: 0.5vw;
    box-shadow: 1px 1px 1px rgb(255, 0, 0);
    flex-direction: column;
}

.artistsection .title {
    font-size: 140%;
    text-align: left;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    border-bottom: 1px solid rgb(255, 0, 0);
    font-weight: bold;
    color: white;
    padding-bottom: 1vw;
}

.artistsection .artistspace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.artistitem {
    transition: transform 0.3s;
    border-radius: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 1vw;
}

.artistitem:hover {
    background-color: #1a1a1a;;
}

.artistitem .artistblock {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    align-items: center;
    transition: transform .3s;
    border-radius: 1vw;
}

.artistitem .artistblock .artistimage {
    width: 120%;
    height: 120%;
    border-radius: 1vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    transition: transform .3s;
}

.artistitem .artistblock .artistimage:hover {
    transform: scale(1.1);
}

.artistitem .artistblock .description {
    text-align: center;
    color: white;
    font-size: 1.5vw;
    margin-top: 1vw;
}
