*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Serif', sans-serif;
    line-height: 130%;
}

body {
    background-color: rgb(53, 53, 53);
    overflow-y: auto;
    min-height: 100vh;
}

main {
    width: 90%;
    display: 1;
    margin:  auto;
}

a {
    text-decoration-line: none;
    color: inherit
}