.header {
    height: 20vw;
    max-height: 300px;
    min-height: 150px;
    background-color: #ffffff;
    background-size: cover;
    width: 90%;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2vw;
    box-shadow: 5px 5px 20px black;
}

.invisible {
    display: none;
}

.header .space {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.header .space .borderProfile {
    display: flex;
    background-image: linear-gradient(90deg, #a7a7a7 0%, #000000 50.52%, #505050 100%);
    border-radius: 50%;
    width: 20%;
    height: 101%;
    max-width: 270px;
    align-items: center;
    transition: transform .3s;
    min-width: 110px;
    margin-left: 2vw;
}

.header .space .borderProfile .profile {
    transition: transform .3s;
    border-radius: 50%;
    width: 95%;
    border-radius: 50%;
    margin: auto;
}

.header .space .textProfile {
    padding-right: 2vw;
}

.header .space .textProfile .text {
    text-align: right;
}